@import './card-component.css';

/* 카드 레이아웃 */
.wrapper {
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  gap: 16px;

  @media (width>=1024px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 16px;

    .layer1 {
      grid-column: 1 / -1;
      background-image: image-set(url(/src/apple/products/ipad_pro_wide.jpeg) 1x, url(/src/apple/products/ipad_pro_wide_2x.jpeg) 2x);
      background-position: center;

      .product {
        padding-top: var(--extra-large-spacing);

        h2 {
          font-size: var(--extra-large-text);
        }

        .tagline {
          font-size: var(--medium-text);

          span {
            display: block;
            white-space: nowrap;
            margin-block: var(--line-normal);
          }
        }
      }

      .page-more {
        font-size: var(--x-small-text);
      }
    }

    .layer2 {
      grid-column: 1 / -1;
      background-image: image-set(url(/src/apple/products/ipad_air_wide.jpeg) 1x, url(/src/apple/products/ipad_air_wide_2x.jpeg) 2x);
      background-position: center;

      .product {
        padding-top: var(--extra-large-spacing);

        h2 {
          font-size: var(--extra-large-text);
        }

        .tagline {
          font-size: var(--medium-text);
          span {
            display: block;
            white-space: nowrap;
            margin-block: var(--line-normal);
          }
        }
      }

      .page-more {
        font-size: var(--x-small-text);
      }
    }

    .layer3 {
      grid-column: 1 / -1;
      background-image: image-set(url(/src/apple/products/iphone15_pro_wide.jpeg) 1x, url(/src/apple/products/iphone15_pro_wide_2x.jpeg) 2x);
      background-position: center;

      .product {
        padding-top: var(--extra-large-spacing);

        h2 {
          font-size: var(--extra-large-text);
        }

        .tagline {
          font-size: var(--medium-text);
        }
      }

      .page-more {
        font-size: var(--x-small-text);
      }
    }

    .layer4,
    .layer5,
    .layer6 {
      .product {
        padding-top: var(--extra-large-spacing);

        h2 {
          font-size: var(--extra-large-text);
        }

        .tagline {
          font-size: var(--medium-text);
        }
      }

      .page-more {
        font-size: var(--x-small-text);
      }
    }

    .layer7 {
      .product {
        padding-top: var(--extra-large-spacing);

        h2 {
          font-size: var(--extra-large-text);
        }

        .tagline {
          font-size: var(--medium-text);
          span {
            display: block;
            white-space: nowrap;
            margin-block: var(--line-normal);
          }
        }
      }

      .page-more {
        font-size: var(--x-small-text);
      }
    }
  }
}

.layer1 {
  block-size: var(--size);
  background-image: image-set(url('/src/apple/products/ipad_pro.jpeg') 1x, url('/src/apple/products/ipad_pro_2x.jpeg') 2x);
  background-size: cover;
  background-position: center;

  > div {
    color: var(--white);
  }

  .product {
    text-align: center;
    padding-top: var(--large-spacing);
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    gap: var(--small-spacing);

    h2 {
      font-size: var(--large-text);
    }

    .tagline {
      font-size: var(--base-text);

      span {
        display: block;
        white-space: nowrap;
        margin-block: var(--line-normal);
      }
    }

    .notice {
      font-size: var(--small-text);
      color: var(--gray);
    }
  }

  .page-more {
    display: grid;
    grid-template-columns: 1fr 100px 100px 1fr;
    gap: var(--base-spacing);
    font-size: var(--xx-small-text);
    margin-top: var(--small-spacing);
    place-items: center;

    .view-more,
    .price {
      display: grid;
      place-items: center;
      justify-self: stretch;
      border-radius: 25px;
      padding-block: var(--x-small-spacing);
      padding-inline: var(--small-spacing);
    }

    .view-more {
      background: var(--blue-400);
      border: 1px solid var(--blue-400);
      color: var(--white);
      grid-column: 2 / 3;
    }

    .price {
      background: transparent;
      border: 1px solid var(--blue-100);
      color: var(--blue-100);
      grid-column: 3 / 4;
    }
  }
}

.layer2 {
  block-size: var(--size);
  background-image: image-set(url('/src/apple/products/ipad_air.jpeg') 1x, url('/src/apple/products/ipad_air_2x.jpeg') 2x);
  background-size: cover;
  background-position: center;

  > div {
    color: var(--black);
  }

  .product {
    text-align: center;
    padding-top: var(--large-spacing);
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    gap: var(--small-spacing);

    h2 {
      font-size: var(--large-text);
    }

    .tagline {
      font-size: var(--base-text);

      span {
        display: block;
        white-space: nowrap;
        margin-block: var(--line-normal);
      }
    }

    .notice {
      font-size: var(--small-text);
      color: var(--gray);
    }
  }

  .page-more {
    display: grid;
    grid-template-columns: 1fr 100px 100px 1fr;
    gap: var(--base-spacing);
    font-size: var(--xx-small-text);
    margin-top: var(--small-spacing);
    place-items: center;

    .view-more,
    .price {
      display: grid;
      place-items: center;
      justify-self: stretch;
      border-radius: 25px;
      padding-block: var(--x-small-spacing);
      padding-inline: var(--small-spacing);
    }

    .view-more {
      background: var(--black);
      border: 1px solid var(--black);
      color: var(--white);
      grid-column: 2 / 3;
    }

    .price {
      background: transparent;
      border: 1px solid var(--black);
      color: var(--black);
      grid-column: 3 / 4;
    }
  }
}

.layer3 {
  block-size: var(--size);
  background-image: image-set(url('/src/apple/products/iphone15_pro.jpeg') 1x, url('/src/apple/products/iphone15_pro_2x.jpeg') 2x);
  background-size: cover;
  background-position: center;

  > div {
    color: var(--white);
  }

  .product {
    text-align: center;
    padding-top: var(--large-spacing);
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    gap: var(--small-spacing);

    h2 {
      font-size: var(--large-text);
    }

    .tagline {
      font-size: var(--base-text);
    }

    .notice {
      font-size: var(--small-text);
      color: var(--gray);
    }
  }

  .page-more {
    display: grid;
    grid-template-columns: 1fr 100px 100px 1fr;
    gap: var(--base-spacing);
    font-size: var(--xx-small-text);
    margin-top: var(--small-spacing);
    place-items: center;

    .view-more,
    .price {
      display: grid;
      place-items: center;
      justify-self: stretch;
      border-radius: 25px;
      padding-block: var(--x-small-spacing);
      padding-inline: var(--small-spacing);
    }

    .view-more {
      background: var(--blue-400);
      border: 1px solid var(--blue-400);
      color: var(--white);
      grid-column: 2 / 3;
    }

    .price {
      background: transparent;
      border: 1px solid var(--blue-100);
      color: var(--blue-100);
      grid-column: 3 / 4;
    }
  }
}

.layer4 {
  block-size: var(--size);
  background-image: image-set(url('/src/apple/products/iphone15.jpeg') 1x, url('/src/apple/products/iphone15_2x.jpeg') 2x);
  background-size: cover;
  background-position: center;

  > div {
    color: var(--black);
  }

  .product {
    text-align: center;
    padding-top: var(--large-spacing);
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    gap: var(--small-spacing);

    h2 {
      font-size: var(--large-text);
    }

    .tagline {
      font-size: var(--base-text);

      span {
        display: block;
        white-space: nowrap;
        margin-block: var(--line-normal);
      }
    }

    .notice {
      font-size: var(--small-text);
      color: var(--gray);
    }
  }

  .page-more {
    display: grid;
    grid-template-columns: 1fr 100px 100px 1fr;
    gap: var(--base-spacing);
    font-size: var(--xx-small-text);
    margin-top: var(--small-spacing);
    place-items: center;

    .view-more,
    .price {
      display: grid;
      place-items: center;
      justify-self: stretch;
      border-radius: 25px;
      padding-block: var(--x-small-spacing);
      padding-inline: var(--small-spacing);
    }

    .view-more {
      background: var(--black);
      border: 1px solid var(--black);
      color: var(--white);
      grid-column: 2 / 3;
    }

    .price {
      background: transparent;
      border: 1px solid var(--black);
      color: var(--black);
      grid-column: 3 / 4;
    }
  }
}

.layer5 {
  block-size: var(--size);
  background-image: image-set(url('/src/apple/products/apple_watch.jpeg') 1x, url('/src/apple/products/apple_watch_2x.jpeg') 2x);
  background-size: cover;
  background-position: center;

  > div {
    color: var(--white);
  }

  .product {
    text-align: center;
    padding-top: var(--large-spacing);
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    gap: var(--small-spacing);

    h2 {
      font-size: var(--large-text);
    }

    .tagline {
      font-size: var(--base-text);

      span {
        display: block;
        white-space: nowrap;
        margin-block: var(--line-normal);
      }
    }

    .notice {
      font-size: var(--small-text);
      color: var(--gray);
    }
  }

  .page-more {
    display: grid;
    grid-template-columns: 1fr 100px 100px 1fr;
    gap: var(--base-spacing);
    font-size: var(--xx-small-text);
    margin-top: var(--small-spacing);
    place-items: center;

    .view-more,
    .price {
      display: grid;
      place-items: center;
      justify-self: stretch;
      border-radius: 25px;
      padding-block: var(--x-small-spacing);
      padding-inline: var(--small-spacing);
    }

    .view-more {
      background: var(--blue-400);
      border: 1px solid var(--blue-400);
      color: var(--white);
      grid-column: 2 / 3;
    }

    .price {
      background: transparent;
      border: 1px solid var(--blue-100);
      color: var(--blue-100);
      grid-column: 3 / 4;
    }
  }
}

.layer6 {
  block-size: var(--size);
  background-image: image-set(url('/src/apple/products/macbook_air.jpeg') 1x, url('/src/apple/products/macbook_air_2x.jpeg') 2x);
  background-size: cover;
  background-position: center;

  > div {
    color: var(--black);
  }

  .product {
    text-align: center;
    padding-top: var(--large-spacing);
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    gap: var(--small-spacing);

    h2 {
      font-size: var(--large-text);
    }

    .tagline {
      font-size: var(--base-text);

      span {
        display: block;
        white-space: nowrap;
        margin-block: var(--line-normal);
      }
    }

    .notice {
      font-size: var(--small-text);
      color: var(--gray);
    }
  }

  .page-more {
    display: grid;
    grid-template-columns: 1fr 100px 100px 1fr;
    gap: var(--base-spacing);
    font-size: var(--xx-small-text);
    margin-top: var(--small-spacing);
    place-items: center;

    .view-more,
    .price {
      display: grid;
      place-items: center;
      justify-self: stretch;
      border-radius: 25px;
      padding-block: var(--x-small-spacing);
      padding-inline: var(--small-spacing);
    }

    .view-more {
      background: var(--black);
      border: 1px solid var(--black);
      color: var(--white);
      grid-column: 2 / 3;
    }

    .price {
      background: transparent;
      border: 1px solid var(--black);
      color: var(--black);
      grid-column: 3 / 4;
    }
  }
}

.layer7 {
  block-size: var(--size);
  background-image: image-set(url('/src/apple/products/airpods_pro.jpeg') 1x, url('/src/apple/products/airpods_pro_2x.jpeg') 2x);
  background-size: cover;
  background-position: center;

  > div {
    color: var(--white);
  }

  .product {
    text-align: center;
    padding-top: var(--large-spacing);
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    gap: var(--small-spacing);

    h2 {
      font-size: var(--large-text);
    }

    .tagline {
      font-size: var(--base-text);

      span {
        display: block;
        white-space: nowrap;
        margin-block: var(--line-normal);
      }
    }

    .notice {
      font-size: var(--small-text);
      color: var(--gray);
    }
  }

  .page-more {
    display: grid;
    grid-template-columns: 1fr 100px 100px 1fr;
    gap: var(--base-spacing);
    font-size: var(--xx-small-text);
    margin-top: var(--small-spacing);
    place-items: center;

    .view-more,
    .price {
      display: grid;
      place-items: center;
      justify-self: stretch;
      border-radius: 25px;
      padding-block: var(--x-small-spacing);
      padding-inline: var(--small-spacing);
    }

    .view-more {
      background: var(--blue-400);
      border: 1px solid var(--blue-400);
      color: var(--white);
      grid-column: 2 / 3;
    }

    .price {
      background: transparent;
      border: 1px solid var(--blue-100);
      color: var(--blue-100);
      grid-column: 3 / 4;
    }
  }
}
